@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Josefin+Sans&family=Montserrat:wght@300&family=Secular+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(246, 243, 243);
}

ul {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
}

.navbar {
  background-color: #fff;
  color: #000;
  height: auto;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 10px 100px;
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
}

.menu ul {
  margin: 0 100px;
  padding: 10px 0;
  font-size: 18px;
}
.menu ul li {
  padding: 14px 18px;
  margin: 5px 10px 0;
  transition: ease-in-out 0.3s;
  font-weight: bold;
}

.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 20px;
}

.landing {
  padding-top: 250px;
  padding-bottom: 280px;
  padding-left: 100px;
  background-image: url("./images/notebook-natural-laptop-macbook.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.landing h1 {
  font-size: 70px;
}

.landing a {
  color: #fff;
  font-size: 25px;
  padding: 10px;
}

.landing a:hover {
  color: rgb(150, 149, 149);
}

.dark {
  color: rgb(199, 198, 198);
}

.about {
  background-image: url("./images/Screenshot (358).png");
  background-repeat: no-repeat;
  background-size: contain;
}

.profile img {
  height: 25rem;
  border: 2px;
}

.profile {
  padding: 30px;
  margin: 45px 0px 100px 134px;
}

.aboutme {
  padding: 50px 200px;
  margin-top: 100px;
  color: rgb(72, 72, 72);
}

.aboutme h1 {
  font-size: 30px;
  letter-spacing: 2px;
}

.aboutme ul {
  margin: 0 40px;
  color: rgb(72, 72, 72);
}

.aboutme ul li a {
  text-decoration: none;
  color: rgb(72, 72, 72);
}

.resume {
  background-color: rgb(237, 235, 235);
  padding-bottom: 60px;
}

.resume .heading {
  text-align: center;
  font-size: 30px;
  padding: 50px 0;
  letter-spacing: 2px;
}

.biodata {
  max-width: 1100px;
  margin: 20px auto 0;
  padding: 20px;
  color: rgb(72, 72, 72);
}

.data_left {
  width: 60%;
  padding: 0 20px;
}

.data_right {
  width: 40%;
  padding: 0 20px;
}

.biodata h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  color: rgb(37, 37, 37);
  font-family: "Secular One", sans-serif;
  text-decoration: underline;
}

.biodata h3 {
  padding: 10px 10px;
  padding-bottom: 15px;
  color: rgb(81, 32, 32);
  font-family: "Josefin Sans", sans-serif;
}

.biodata h4 {
  padding: 0 10px;
  padding-bottom: 10px;
  color: grey;
}

.biodata ul {
  list-style-type: disc;
  padding: 0 30px;
}

.projects a {
  text-decoration: none;
  color: #000;
}

.projects {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(199, 199, 199);
}

.projects h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 55px;
  letter-spacing: 2px;
}

.projects img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.projects .card {
  width: 80%;
  background-color: white;
  margin: 40px auto;
  border-radius: 20px;
}

.projects h3 {
  padding-top: 10px;
}

.projects p {
  padding: 30px;
  padding-top: 5px;
}

.projects .projs {
  margin: auto;
  justify-content: center;
}

.background {
  background-image: url("https://c1.wallpaperflare.com/preview/372/96/881/business-desk-iphone-iphone-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 40px;
}

form {
  display: grid;
  grid-template-columns: (2, 1fr);
  font-family: "Montserrat", sans-serif;
}

.form {
  max-width: 1100px;
  margin: 20px auto 0;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: (2, 1fr);
}

.form h2 {
  font-size: 55px;
  letter-spacing: 2px;
  font-weight: bolder;
  padding-top: 30px;
  padding-bottom: 50px;
}

.form input {
  font-family: "Montserrat", sans-serif;
  padding: 5px 8px;
  margin: 10px;
  outline: none;
  width: 310px;
}

.form textarea {
  font-family: "Montserrat", sans-serif;
  resize: none;
  width: 310px;
  padding: 5px 8px;
  outline: none;
  margin: 10px;
  height: 100px;
}

.form label {
  font-size: 20px;
  font-weight: bolder;
}

.button {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(210, 208, 208);
  border: none;
  color: #000;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 9px 8px;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
}

.button:hover {
  background-color: rgb(147, 143, 143);
  color: #000;
}

.footer {
  background-color: rgb(47, 46, 46);
  justify-content: space-between;
}

.footer .footext {
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-left: 50px;
}

.footer .icons {
  padding: 20px;
  text-decoration: none;
  margin-right: 50px;
}

.footer .icons i {
  color: #fff;
  padding: 0 8px;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .logo {
    margin: 8px 80px;
    padding: 10px 0;
    font-size: 20px;
  }

  .menu ul {
    margin: 0 80px;
    padding: 6px 0;
    font-size: 16px;
  }
  .menu ul li {
    padding: 12px 16px;
    margin: 5px 8px 0;
  }

  .landing {
    padding-bottom: 187px;
  }

  .landing h1 {
    font-size: 57px;
  }

  .landing h2 {
    font-size: 20px;
  }

  .profile img {
    height: 290px;
    border: 2px;
  }

  .profile {
    padding: 20px;
    margin: 32px 0px 70px 101px;
  }

  .aboutme {
    padding: 25px 100px 0 100px;
    margin-top: 65px;
    color: rgb(72, 72, 72);
  }

  .projects {
    padding-bottom: 30px;
  }

  .projects img {
    width: 290px;
  }

  .projects .card {
    width: 290px;
    margin: 30px 20px;
  }

  .projects h3 {
    padding-top: 10px;
    font-size: 15px;
  }

  .projects p {
    font-size: 12.1px;
    padding: 20px;
    padding-top: 5px;
  }

  .projects .projs {
    margin: auto;
    justify-content: center;
  }

  .projects .card {
    width: 80%;
    margin: 30px 35px;
  }

  .projects img {
    width: 100%;
  }

  .background {
    background-image: url("./images/business-desk-iphone-iphone-6.jpg");
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 170px;
    padding-bottom: 70px;
  }

  .form {
    padding: 0 100px;
  }

  .form h2 {
    letter-spacing: normal;
    padding-top: 0px;
  }
}

@media (max-width: 1000px) {
  .logo {
    font-size: 16px;
  }

  .menu ul {
    font-size: 15px;
  }

  .aboutme {
    padding-right: 50px;
    margin-top: 20px;
  }

  .profile img {
    height: 240px;
  }

  .profile {
    margin: 25px 0px 60px 80px;
  }

  .data_left {
    width: 52%;
  }

  .data_right {
    width: 48%;
  }
}

@media (max-width: 900px) {
  nav {
    text-align: center;
  }
  nav .flex {
    flex-direction: column;
  }

  nav .flex .menu .flex {
    flex-direction: row;
    margin: 0 22%;
  }

  .menu ul {
    font-size: 13px;
  }

  .logo {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .landing {
    padding-top: 250px;
    padding-bottom: 280px;
    padding-left: 60px;
    background-position: right;
  }

  .landing h1 {
    font-size: 40px;
  }

  .landing h2 {
    font-size: 18px;
  }

  .landing a {
    color: #fff;
    font-size: 20px;
    padding: 10px;
  }

  .profile img {
    height: 200px;
  }

  .profile {
    margin: 18px 0px 40px 60px;
  }

  .aboutme {
    margin-top: 0px;
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  nav .flex .menu .flex {
    margin: 0 13.5%;
  }

  .menu ul {
    text-align: center;
  }

  .profile img {
    height: 152px;
  }

  .profile {
    margin: 8px 0px 60px 45px;
  }

  .aboutme {
    margin-top: 0px;
    font-size: 13px;
    padding-left: 0;
  }

  .aboutme h1 {
    font-size: 20px;
  }

  .projects .card {
    margin: 30px auto;
  }

  .resume .flex {
    flex-direction: column;
  }

  .data_left,
  .data_right {
    width: 100%;
  }

  .projects .flex {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  nav .flex .menu .flex {
    margin: 0 1.93%;
  }

  .menu ul {
    font-size: 13px;
  }

  .about {
    background-image: url("./images/Screenshot (358)2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .abt .flex {
    flex-direction: column;
  }

  .profile img {
    height: 285px;
  }

  .profile {
    margin: 32px 0px 60px 82px;
  }

  .aboutme {
    font-size: 15px;
    padding-left: 75px;
    padding-bottom: 40px;
  }

  .aboutme h1 {
    font-size: 30px;
    padding-bottom: 13px;
  }

  .form {
    padding: 0 50px;
  }
}
